{{#if user.savedMovie}} 
{{#grouped_each 4 user.savedMovie}}
<div class="row justify-content-md-center">
	{{#each this}}
	<div class="col-md-3 poster" style="background: white">
		{{#if poster_path}}
			<img src="https://image.tmdb.org/t/p/w500{{poster_path}}" width="100%" onclick="window.location.href='/details/{{id}}';">
		{{else}}
			<img src="/assets/images/noimg.jpeg" width="100%">
		{{/if}}
			<button type="button" class="btn-block unsave-movie btn-danger align-bottom to-the-bottom" data-id="{{this.id}}" data-user="{{../../user._id}}">Remove</button>
		</div>
	{{/each}}
</div>
{{/grouped_each}}
{{else}}
	<div class="row justify-content-center">
	<div class="sorry-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">I'm sorry :(</h1>
		{{#if user}}
		<p class="lead">While I'm sure you save the day every once in a while, it doesn't look like you've saved any movies.</p>
		{{else}}
		<p class="lead">Saving movies is only available to users who are logged in.  Account registration is open and free!</p>
		{{/if}}
		</div>
	</div>
{{/if}}

<script src="/js/app.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>