{{#if user.savedMovie}} 
{{#grouped_each 4 user.savedMovie}}
<div class="card-deck">
	{{#each this}}
	<div class="card">
		{{#if poster_path}}
		<img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="Card image cap" onclick="window.location.href='/details/{{this.id}}';">
		{{else}}
		<img class="card-img-top" src="/assets/images/noimg.jpeg" alt="Card image cap" onclick="window.location.href='/details/{{this.id}}';">
		{{/if}}
		<div class="card-block text-center">
			<p class="card-title">{{this.title}}</p>
		</div>
	</div>
	{{/each}}
</div>
<br>
<br> {{/grouped_each}}
{{else}}
	<div class="row justify-content-center">
	<div class="sorry-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">I'm sorry :(</h1>
		{{#if user}}
		<p class="lead">While I'm sure you save the day every once in a while, it doesn't look like you've saved any movies.</p>
		{{else}}
		<p class="lead">Saving movies is only available to users who are logged in.  Account registration is open and free!</p>
		{{/if}}
		</div>
	</div>
{{/if}}
